{{#> layout/frontend title="Front-End" pageName="frontend" }}


  <div class="">
    <div class="container">
      <div class="row logo">
        <div class="col-12">
          <a href="/" aria-label="Home">
            <img class="img-fluid" src="./assets/images/logo-dark.png" alt="TBP Logo">
          </a>
        </div>
      </div>
    </div>
  </div>
{{/ layout/frontend }}