{{#> layout/frontend title="Front-End" pageName="frontend" }}
  <section class="frontend">
    <div class="container">
      <div class="row logo">
        <div class="col-12">
          <a href="/" aria-label="Home">
            Logo
          </a>
        </div>
      </div>
    </div>
  </section>
{{/ layout/frontend }}
